$prefix: '' !default;

.#{$prefix}-studiodetail {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: calc(25% - 0.75rem) auto;

  &-films {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &-title {
    font-weight: 300;
    font-size: var(--u4);
    margin-block-start: 0;
  }
}
