$prefix: '' !default;

.#{$prefix}-wrapper {
  box-sizing: content-box;
  width: calc(100vw - 3rem);
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
