.filmCard {
  color: var(--fg);
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.filmCard-title {
  font-size: 1em;
  font-weight: 400;
  margin-block-end: 0;
  margin-block-start: 0;

  & small {
    display: block;
    font-size: var(--d2);
  }
}

.filmCard-img {
  border-radius: 0.25rem;
  display: block;
  margin-bottom: 0.5rem;
  max-width: 100%;
  height: calc(300px / var(--oneSheet));
  overflow: hidden;
  width: 300px;

  & img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.filmCard-year {
}
