.personDetail {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 20rem auto;
}

.personDetail-img {
  height: 20rem;
  overflow: hidden;

  & img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.personDetail-films {
  grid-column-end: 3;
  grid-column-start: 1;
  margin-block-start: 2rem;
}

.personDetail-title {
  font-size: var(--u4);
  font-weight: 300;
  margin-block-end: 2rem;
  margin-block-start: 0;
}

.personDetail-subtitle {
  font-size: var(--u2);
  font-weight: 700;
  margin-block-start: 2rem;
}
