.studioDetail {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 20rem auto;
}

.studioDetail-films {
  grid-column-end: 3;
  grid-column-start: 1;
}

.studioDetail-img {
  height: 20rem;

  & img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.studioDetail-title {
  font-size: var(--u4);
  font-weight: 300;
  margin-block-start: 0;
}
