:root {
  --black: 0, 0%, 0%;
  --black-offset: 0, 0%, 6%;
  --white: 0, 0%, 100%;
  --white-offset: 0, 0%, 94%;
  --active: #ff6500;

  /* color */
  --fg: var(--black);
  --fg-offset: var(--black-offset);
  --bg: var(--white);
  --bg-offset: var(--white-offset);

  /* font */
  --sans: 'IBM Plex Sans', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica', 'Arial',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --u18: 11.390625em;
  --u17: 9.950627481136905em;
  --u16: 8.692673779389363em;
  --u15: 7.59375em;
  --u14: 6.63375165409127em;
  --u13: 5.795115852926242em;
  --u12: 5.0625em;
  --u11: 4.422501102727513em;
  --u10: 3.8634105686174953em;
  --u9: 3.375em;
  --u8: 2.9483340684850083em;
  --u7: 2.575607045744997em;
  --u6: 2.25em;
  --u5: 1.9655560456566725em;
  --u4: 1.7170713638299977em;
  --u3: 1.5em;
  --u2: 1.3103706971044482em;
  --u1: 1.1447142425533319em;
  --d1: 0.8735804647362989em;
  --d2: 0.7631428283688879em;
  --d3: 0.6666666666666666em;
  --d4: 0.5823869764908659em;
  --d5: 0.5087618855792586em;
  --d6: 0.4444444444444444em;
  --d7: 0.3882579843272439em;
  --d8: 0.3391745903861724em;
  --d9: 0.2962962962962963em;
  --d10: 0.2588386562181626em;
  --d11: 0.22611639359078162em;
  --d12: 0.19753086419753085em;
  --d13: 0.17255910414544176em;
  --d14: 0.15074426239385438em;
  --d15: 0.13168724279835392em;
  --d16: 0.11503940276362785em;
  --d17: 0.10049617492923625em;
  --d18: 0.0877914951989026em;

  /* constants */
  --oneSheet: 1.5185185185; /* 27ʺ × 41ʺ */
}
