.skeletonImg {
  border-radius: 2px;
  color: transparent;
  display: inline-block;
  height: 0;
  overflow: hidden;
  padding-block-start: calc(var(--oneSheet) * 100%);
  position: relative;
  width: 100%;

  &::before {
    background: hsl(var(--bg-offset));
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  &::after {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: flash;
    animation-timing-function: linear;
    background-image: linear-gradient(
      60deg,
      transparent 50%,
      hsla(0, 0%, 100%, 0.1),
      transparent 60%
    );
    content: '';
    height: 100%;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 0;
    width: 100em; /* derived from font size */
  }
}
